<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登录 | AdminLTE 4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" th:href="@{/css/overlayscrollbars.min.css}" crossorigin="anonymous" />

    <link rel="stylesheet" th:href="@{/adminlte/dist/css/adminlte.css}" />
</head>

<body class="login-page bg-body-secondary">
<div class="login-box">
    <div class="login-logo">
        <a th:href="@{/}"><b>Admin</b>LTE</a>
    </div>

    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">请输入您的账号密码</p>

            <div th:if="${param.error}" class="alert alert-danger">
                用户名或密码错误
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                您已成功退出登录
            </div>

            <form th:action="@{/doLogin}" method="post">
                <div class="input-group mb-3">
                    <input type="email" name="email" class="form-control" placeholder="email" required />
                    <div class="input-group-text">
                        <span class="bi bi-envelope"></span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="password" class="form-control" placeholder="password" required />
                    <div class="input-group-text">
                        <span class="bi bi-lock-fill"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="remember-me" id="rememberMe" />
                            <label class="form-check-label" for="rememberMe"> 记住我 </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">登录</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="social-auth-links text-center mb-3 d-grid gap-2">
                <p>- 或 -</p>
                <a href="#" class="btn btn-primary">
                    <i class="bi bi-facebook me-2"></i> 使用 Facebook 登录
                </a>
            </div>

            <p class="mb-1">
                <a th:href="@{/adminlte/forgot-password}">忘记密码？</a>
            </p>
            <p class="mb-0">
                <a th:href="@{/adminlte/register}" class="text-center"> 注册新账号 </a>
            </p>
        </div>
    </div>
</div>

<script th:src="@{/js/overlayscrollbars.browser.es6.min.js}"></script>
<script th:src="@{/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/adminlte/dist/js/adminlte.js}"></script>
</body>
</html>